CONFIG_RISCV=y
CONFIG_BOOTCOMMAND="zsiposboot"
CONFIG_DEFAULT_DEVICE_TREE="zsipos"
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x20000
CONFIG_TARGET_VIPCOM_ZSIPOS=y
CONFIG_ARCH_RV64I=y
CONFIG_DISTRO_DEFAULTS=y
CONFIG_FIT=n
CONFIG_DISPLAY_CPUINFO=y
CONFIG_DISPLAY_BOARDINFO=y
CONFIG_OF_EMBED=y
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_DM_MTD=y
CONFIG_NET=n
CONFIG_EFI=n
CONFIG_CMD_BOOTEFI=n
CONFIG_EFILOADER=n

